#root {
  --border-radius: 0.3rem;
  --primary: #007bff;
  --bg-secondary: #F0F0F5;
  --bg-primary: #FFFFFF;
  --text-dark: #737380;
  --text-light: #FFFFFF;
  --secondary-text: #617480;
  --border-color: #e0e0e0;

  display: flex;
  margin: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: #213547;
  background-color: #ffffff;
}


html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;  
  overflow: hidden;
}
